<div>
    <div id="navcontainer">
        <ul>
            <li ng-class="{ 'active': panelCtrl.isSelected(1)}">
                <a href ng-click="panelCtrl.selectTab(1)">Description</a>
            </li>
            <li ng-class="{ 'active': panelCtrl.isSelected(2)}">
                <a href ng-click="panelCtrl.selectTab(2)">Specification</a>
            </li>
            <li ng-class="{ 'active': panelCtrl.isSelected(3)}">
                <a href ng-click="panelCtrl.selectTab(3)">Reviews</a>
            </li>
        </ul>
    </div>
    <div id="content">
        <div ng-show="panelCtrl.isSelected(1)">
            <p>{{product.description}}</p>
        </div>
        <div ng-show="panelCtrl.isSelected(2)">
            <p>{{product.specification}}</p>
        </div>
        <div ng-show="panelCtrl.isSelected(3)">
            <div class="review" ng-repeat="review in product.reviews">
                <p class="bold">{{review.stars}} stars: {{review.message}}</p>
                <p>Author: {{review.author}}</p>
            </div>
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product, reviewForm)" novalidate>
                <p>Leave your review:</p>

                <div>
                    <select name="uStars" ng-model="reviewCtrl.review.stars" required>
                        <option value="5">Great</option>
                        <option value="4">Good</option>
                        <option value="3">Well</option>
                        <option value="2">Bad</option>
                    </select>
                    <div ng-show="reviewForm.$submitted || reviewForm.uStars.$touched">
                        <div ng-show="reviewForm.uStars.$error.required">Tell us your rating.</div>
                    </div>
                </div>
                <div>
                    <textarea name="uMessage" ng-model="reviewCtrl.review.message" cols="40" rows="3" required></textarea>
                    <div ng-show="reviewForm.$submitted || reviewForm.uMessage.$touched">
                        <div ng-show="reviewForm.uMessage.$error.required">Tell us your message.</div>
                    </div>
                </div>
                <div>
                    <input name="uEmail" ng-model="reviewCtrl.review.author" type="email" required/>
                    <div ng-show="reviewForm.$submitted || reviewForm.uEmail.$touched">
                        <div ng-show="reviewForm.uEmail.$error.required">Tell us your contact email.</div>
                        <span ng-show="reviewForm.uEmail.$error.email">This is not a valid email.</span>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Submit"/>
                </div>
                {{reviewForm.$valid}}
            </form>
        </div>
    </div>
</div>